.base-btn {
  height: 120px;
  width: 120px;
  float: right;
}

.base-btn > svg {
  fill: rgb(100, 155, 255);
}

.base-btn:hover {
  cursor: pointer;
  background-color: rgb(100, 155, 255);
}

.base-btn > svg:hover {
  fill: white;
}

.delete-btn:hover {
  background-color: rgb(200, 50, 50);
}

.delete-btn > svg {
  fill: rgb(200, 50, 50);
}