.new-project-btn {
  padding: 1px;
  background-color: rgb(100, 155, 255);
  color: white;
  box-shadow: 0px 0px 5px gray;
}

.new-project-btn:hover {
  cursor: pointer;
  background-color: rgb(135, 180, 255);
  box-shadow: 5px 5px 10px gray;
}

.project-details {
  height: 120px;
  padding-left: 10px;
  border-bottom: 5px solid gray;
}

/* both name and details */
.project-text-field {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Project names */
.project-details > h1 {
  margin: 0px;
  height: 60px;
  line-height: 60px;
  font-weight: bolder;
}

/* Next goals */
.project-details > p {
  height: 40px;
}